# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

__Objectives:__
+ List popular languages in data science
+ List popular libraries used in data science
+ List commonly used development environment open source tools in data science
+ Create code cells for simple arithmatic operations

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Scala
4. Julia

Some of the commonly used libraries used by Data Scientists include:
1. Matplotlib
2. NumPy
3. Keras

|Data Science Tools
|---------------------------
|Jupyter notebook
|RStudio
|Google CoLab

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# this a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [3]:
# This will convert 200 minutes to hours by diving by 60
m=200
h=m/60
print(m,"minutes are equal to", h, "hours")

200 minutes are equal to 3.3333333333333335 hours

## Author
Saptarnab Naskar